.archive {
  @apply px-4 py-8 mx-auto;

  h1 {
    @apply text-center mb-10 text-3xl;
  }

  &-content {
    @apply flex flex-col flex-wrap items-center;

    article {
      @apply mb-8;
    }
  }
}

@screen lg {
  .archive-content {
    @apply flex-row items-start justify-around;

    article {
      @apply w-1/2 mx-2;
    }
  }
}

@screen xl {
  .archive-content {
    @apply justify-between;

    article {
      @apply w-1/3;
    }
  }
}
