.header {
  background-color: #3f4040;
}

.header-wrap {
  @apply flex flex-wrap flex-col mx-auto justify-center items-center p-4;
}

@screen lg {
  .header-wrap {
    @apply flex-row justify-between;
  }
}
