@tailwind base;
@tailwind components;

.close-icon {
  @apply absolute;

  right: 3%;
  top: 60%;
}

@screen sm {
  .close-icon {
    top: 38%;
  }
}

.post {
  @apply overflow-auto;
}

.post-content {
  @apply max-w-2xl mx-auto;
}

.post-tag-wrap {
  @apply border-b border-t pt-4 pb-2 my-12;
}

.post h2 {
  @apply text-3xl font-bold my-4;
}

.post h3 {
  @apply text-2xl font-bold my-3;
}

.post h4 {
  @apply text-xl font-bold my-2;
}

.post h5 {
  @apply text-lg font-bold my-1;
}

.post p {
  @apply mb-8;
}

.post a {
  @apply underline;
}

.post ul {
  @apply list-disc ml-8 mb-8;
}

.post code {
  @apply bg-gray-300 font-mono text-sm p-1 overflow-auto align-middle leading-snug;
}

.post figure {
  @apply mb-8;
}

.post .wp-caption-text {
  @apply font-light italic text-sm my-1 text-center;
}

.post .gallery {
  @apply flex;
}

.post .gallery .gallery-item {
  @apply flex flex-col items-center text-center;
}

.post .alignleft {
  @apply float-left mr-8;
}

.post .aligncenter {
  @apply text-center mx-auto mb-8;
}

.post .alignright {
  @apply float-right ml-8;
}

.post .twitter-tweet {
  @apply pt-6 pr-6 pl-4 pb-1 bg-gray-400;
}

.post .tag a {
  @apply no-underline;
}

@tailwind utilities;
