/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */
@tailwind utilities;

@import './alert-bar.css';
@import './header.css';
@import './menu.css';
@import './post.css';
@import './latest-posts.css';
@import './card.css';
@import './footer.css';
