.latest-posts {
  @apply mx-auto;
}

.latest-posts h1 {
  @apply mb-4 text-3xl text-center;
}

.latest-posts-content {
  @apply flex flex-col flex-wrap items-center;
}

.latest-posts article {
  @apply mb-8;
}

@screen lg {
  .latest-posts-content {
    @apply flex-row items-start justify-between;
  }

  .latest-posts article {
    @apply w-1/2 mx-2;
  }
}

@screen xl {
  .latest-posts article {
    @apply w-1/3;
  }
}
