.alert-bar {
  @apply relative bg-orange-500 text-white font-medium px-2 py-2;

  &-info-icon {
    @apply hidden mr-4;
  }

  &-content {
    @apply flex flex-col justify-center items-center text-center;

    button {
      @apply mt-4;

      min-width: 120px;
    }
  }

  &-close-button {
    @apply absolute;

    right: 3%;
    top: 60%;
  }
}

@screen sm {
  .alert-bar {
    &-info-icon {
      @apply block;
    }

    &-content {
      @apply flex-row pr-10;

      button {
        @apply mt-0 ml-4;
      }
    }

    &-close-button {
      top: 38%;
    }
  }
}
