.card {
  @apply max-w-sm rounded overflow-hidden shadow-lg;

  img {
    @apply w-full;
  }

  &-content {
    @apply px-4 py-4;

    h2 {
      @apply mb-2 text-xl text-left font-bold;
    }
  }

  &-tags {
    @apply p-4;
  }
}
